*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#90B1DB;
    color:#222;
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:#A3CEEF;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

header h1{
    font-size:20px;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
    font-size:14px;
}

nav a:hover{
    text-decoration:underline;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:120px 20px 40px 20px;
}

.section{
    margin-bottom:60px;
}

.section h2{
    margin-bottom:15px;
    color:#28282F;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.footer{
    background:#28282F;
    color:white;
    padding:30px;
    text-align:center;
}

.button{
    display:inline-block;
    padding:10px 18px;
    background:#DFE9F5F;
    color:white;
    border-radius:6px;
    text-decoration:none;
    margin-top:10px;
}

.profile-box{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.profile-img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}
}
nav a{
    pointer-events: auto !important;
    position: relative;
    z-index: 2000;
}

header{
    pointer-events: auto !important;
}


